@font-face {
    font-family: 'KyivTypeSans';
    src: url('/fonts/Dmitry Rastvortsev - KyivType Sans Bold.otf');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'KyivTypeSans';
    src: url('/fonts/Dmitry Rastvortsev - KyivType Sans Regular.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'EduAUVICWANTHand';
    src: url('fonts/EduAUVICWANTHand-VariableFont_wght.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('/fonts/Poppins-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('/fonts/Poppins-SemiBold.ttf');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url('/fonts/Raleway-VariableFont_wght.ttf');
    font-weight: 100 900;
    font-style: normal;
}
