
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    margin: 0;

}

.background-container {
    background-image: url("img/abstrait 1.png"); /
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/* Conteneur principal */
.container {
    width: 90%;
    max-width: 500px; /* Limite la largeur sur les grands écrans */
    text-align: center;
}

/* Logo en haut */
.logo h1 {
    font-size: 28px;
    line-height: 1.4;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 20px;
}

.logo .highlight {
    font-size: 36px;
    color: #d1d1d1;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

/* Container des boutons centraux */
.buttons {
    display: flex;
    flex-direction: column; /* Aligne les boutons en colonne (verticalement) */
    gap: 20px; /* Ajoute de l'espace entre chaque bouton */
    width: 100%; /* Utilisation complète de l'espace disponible */
    margin-top: 30px; /* Espace avant les boutons */
}

/* Style du bouton "Jouer" */
.btn-play {
    background-color: black; /* Fond noir */
    color: white; /* Écriture blanche */
    border-radius: 50px; /* Coins arrondis */
    border: none; /* Pas de bordure */
    padding: 20px; /* Plus de hauteur */
    font-size: 20px; /* Texte plus grand */
    font-weight: bold; /* Texte en gras */
    width: 100%; /* Rendre le bouton large */
}

/* Style du bouton "Crédits" */
.btn-credit {
    background-color: transparent; /* Fond transparent */
    color: white; /* Écriture blanche */
    border: 2px solid white; /* Bordure blanche */
    border-radius: 50px; /* Coins arrondis */
    padding: 20px; /* Plus de hauteur */
    font-size: 20px; /* Texte plus grand */
    font-weight: bold; /* Texte en gras */
    width: 100%; /* Rendre le bouton large */
}

.btn {
    width: 100%;
    padding: 15px 0;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}



/* Pied de page */
.footer {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    margin-top: auto;
}

.footer-logo {
    max-width: 70px;
    opacity: 0.8;
    transition: opacity 0.3s;
}

.footer-logo:hover {
    opacity: 1;
}


/* Media queries pour le design responsive */
@media (max-width: 768px) {
    .logo h1 {
        font-size: 24px;
    }

    .logo .highlight {
        font-size: 32px;
    }

    .btn {
        font-size: 16px;
        padding: 12px 0;
    }

    .footer-logo {
        max-width: 60px;
    }
}

@media (max-width: 480px) {
    .logo h1 {
        font-size: 20px;
    }

    .logo .highlight {
        font-size: 28px;
    }

    .btn {
        font-size: 14px;
        padding: 10px 0;
    }

    .footer-logo {
        max-width: 50px;
    }
}
