html {
    background-color: #191714;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    width: 100vw;
    height: 100vh;
    flex-direction: column-reverse;
}

.color-picker-container {
    scroll-behavior: smooth;
    width: fit-content;
    background: #fff;

}

.color-preview {
    width: 100%;
    height: 50px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #000;
}

.color-palette {
    display: flex;
    gap: 80px;
    padding: 25px;
    width: 100vw;
    overflow-x: scroll;
    align-items: flex-start;
    justify-content: flex-start;
}

.color-swatch {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
}

.color-swatch::before {
    content: "";
    position: absolute;
    top: -10px;
    left: -10px;
    width: 64px;
    height: 64px;
    background: inherit;
    border-radius: 50%;
}

.color-swatch.selected {
    top: -10px;
}

.color-code {
    font-size: 14px;
    color: #333;
}


.coloring-zone path {
    pointer-events: all;
}

#picture {
    position: absolute;
    top: -20vw;
    z-index: 9999;
    pointer-events: none;
}

.borders {
    position: absolute;
    top: 10vw;
    left: 10vw;
    z-index: 9998;
    pointer-events: none;
}

#result {
    display: none;
}

.button-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 5vh;
}

#save-btn {
    font-family: Raleway, sans-serif;
    color: #fff;
    font-size: 16px;
    width: 40vw;
    height: 50px;
    border-radius: 50px;
    background: var(--Fond, linear-gradient(197deg, rgba(221, 243, 252, 0.10) 2.84%, rgba(255, 255, 255, 0.00) 100%), linear-gradient(19deg, rgba(17, 16, 16, 0.40) 72.07%, rgba(255, 255, 255, 0.00) 150.29%), #1A1D26);
    background-blend-mode: normal, overlay, normal;
}

.bottom-section {
    position: fixed;
    width: 100%;
}

.see-my-thoughts {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    padding: 10px;
}

.see-my-thoughts-div {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1A1D26;
    color: #fff;
    padding: 10px;
    border-top: 1px solid #333;
    font: 1.5em 'EduAUVICWANTHand';
}

.side-text {
    display: flex;
    flex-direction: column;
    padding-bottom: 5vh;
}

a {
    color: #000;
    text-decoration: none;
}



.coloring-zone {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 5vh;
    align-self: center;
    pointer-events: none;
}

.coloring-zone svg {
    aspect-ratio: 3/4;
    width: 100vw;
    height: 75vw;
    position: absolute;
}

.coloring-zone img {
    width: 100vw;
    height: 75vw;
    z-index: 9999;
    pointer-events: none;
    object-fit: contain;
    opacity: 0.75;
}
