html {
    background-color: #191714;
}

body {
    font-family: Arial, sans-serif;
}

.color-picker-container {
    scroll-behavior: smooth;
    width: fit-content;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.color-preview {
    width: 100%;
    height: 50px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #000;
}

.color-palette {
    display: flex;
    flex-wrap: nowrap;
    scroll-behavior: smooth;
    gap: 80px;
    height: 10vh;
    justify-content: flex-start;
    width: 90vw;
    overflow-x: scroll;
    align-items: flex-start;
    padding: 20px;
}

.color-swatch {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    cursor: pointer;
    border: 3px solid rgba(0, 0, 0, 0);
    position: relative;
    overflow: visible;
}

.color-swatch::before {
    content: "";
    position: absolute;
    top: -10px;
    left: -10px;
    width: 64px;
    height: 64px;
    background: inherit;
    border-radius: 50%;
    overflow: visible;
}

.color-swatch.selected {
    border: 3px solid #000000;
}

.color-code {
    font-size: 14px;
    color: #333;
}

.coloring-zones-container {
    display: flex;
    gap: 10px;
    margin-top: 20px;
}

.coloring-zone {
    cursor: pointer;
    pointer-events: none;
    position: absolute;
    left: 10vw;
    top: -20vw;
}

.coloring-zone path {
    pointer-events: all;
}

#picture {
    position: absolute;
    top: -20vw;
    z-index: 9999;
    pointer-events: none;
}

.borders {
    position: absolute;
    top: 10vw;
    left: 10vw;
    z-index: 9998;
    pointer-events: none;
}

#result {
    display: none;
}

.button-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 10vh;
}

#save-btn, #download-btn {
    font-family: Raleway, sans-serif;
    color: #fff;
    font-size: 16px;
    width: 40vw;
    height: 50px;
    border-radius: 50px;
    background: var(--Fond, linear-gradient(197deg, rgba(221, 243, 252, 0.10) 2.84%, rgba(255, 255, 255, 0.00) 100%), linear-gradient(19deg, rgba(17, 16, 16, 0.40) 72.07%, rgba(255, 255, 255, 0.00) 150.29%), #1A1D26);
    background-blend-mode: normal, overlay, normal;
}

.bottom-section {
    position: fixed;
    bottom: 0;
    width: 100%;
}
