body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: row;
    height: 100vh;
    margin: 0;
    border-radius: 12px;
}

.color-picker-container {
    scroll-behavior: smooth;
    width: fit-content;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.color-preview {
    width: 100%;
    height: 50px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #000;
}

.color-palette {
    display: flex;
    flex-wrap: nowrap;
    scroll-behavior: smooth;
    gap: 80px;
    height: 10vh;
    justify-content: flex-start;
    width: 90vw;
    overflow-x: scroll;
    align-items: center;
    padding: 20px;
}


.color-swatch {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    cursor: pointer;
    border: 3px solid rgba(0, 0, 0, 0);
    position: relative;
    overflow: visible;
}

.color-swatch::before {
    content: "";
    position: absolute;
    top: -10px;
    left: -10px;
    width: 64px;
    height: 64px;
    background: inherit;
    border-radius: 50%;
    overflow: visible;

}

.color-swatch.selected {
    border: 3px solid #000000;
}

.color-code {
    font-size: 14px;
    color: #333;
}

.coloring-zones-container {
    display: flex;
    left: 10vw;
    gap: 10px;
    margin-top: 20px;
}

.coloring-zone {
    cursor: pointer;
    pointer-events: none;
    position: absolute;
    left: 10vw;
    top: -20vw;
}

.coloring-zone path {
    pointer-events: all;
}

#picture {
    position: absolute;
    top: -20vw;
    z-index: 9999;
    pointer-events: none;
}

.borders {
    position: absolute;
    top: 10vw;
    left: 10vw;
    z-index: 9998;
    pointer-events: none;
}

/* Fractal Plaid Background */
.fractal-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(45deg, #333 25%, transparent 25%) -50px 0/100px 100px,
    linear-gradient(135deg, #333 25%, transparent 25%) -50px 0/100px 100px,
    linear-gradient(45deg, transparent 75%, #111 75%) -50px 0/100px 100px,
    linear-gradient(135deg, transparent 75%, #111 75%) -50px 0/100px 100px;
    background-color: #222;
    animation: animatePlaid 5s linear infinite;
    z-index: -1;
}

/* Fractal Plaid Animation */
@keyframes animatePlaid {
    0% {
        background-position: 0 0, 0 0, 0 0, 0 0;
    }
    100% {
        background-position: 100px 100px, -100px 100px, 100px -100px, -100px -100px;
    }
}

html {
    background-color: #eefbf8;
    background-image: radial-gradient(circle, hsla(0, 0%, 100%, .1), hsla(0, 0%, 0%, .75)),
    linear-gradient(to left, transparent 50%, hsla(0, 0%, 0%, .01) 50%);
    background-position: 50% 75%, 50% 50%;
    background-repeat: no-repeat, repeat;
    background-size: 150% 150%, 3em 3em;
    font-size: 100%;
    min-height: 100%;
}

#result {
    display: none;
}
