/* Fractal Plaid Background */
.fractal-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(45deg, #333 25%, transparent 25%) -50px 0/100px 100px,
    linear-gradient(135deg, #333 25%, transparent 25%) -50px 0/100px 100px,
    linear-gradient(45deg, transparent 75%, #111 75%) -50px 0/100px 100px,
    linear-gradient(135deg, transparent 75%, #111 75%) -50px 0/100px 100px;
    background-color: #222;
    animation: animatePlaid 5s linear infinite;
    z-index: -1;
}

/* Fractal Plaid Animation */
@keyframes animatePlaid {
    0% {
        background-position: 0 0, 0 0, 0 0, 0 0;
    }
    100% {
        background-position: 100px 100px, -100px 100px, 100px -100px, -100px -100px;
    }
}

html {
    background-color: #eefbf8;
    background-image: radial-gradient(circle, hsla(0, 0%, 100%, .1), hsla(0, 0%, 0%, .75)),
    linear-gradient(to left, transparent 50%, hsla(0, 0%, 0%, .01) 50%);
    background-position: 50% 75%, 50% 50%;
    background-repeat: no-repeat, repeat;
    background-size: 150% 150%, 3em 3em;
    font-size: 100%;
    min-height: 100%;
}


img {
    border: solid 2px;
    border-bottom-color: #ffe;
    border-left-color: #eed;
    border-right-color: #eed;
    border-top-color: #ccb;
    max-height: 100%;
    max-width: 100%;
}

.frame {
    background-color: #ddc;
    border: solid 5vmin #eee;
    border-bottom-color: #fff;
    border-left-color: #eee;
    border-radius: 2px;
    border-right-color: #eee;
    border-top-color: #ddd;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, .25) inset, 0 5px 10px 5px rgba(0, 0, 0, .25);
    box-sizing: border-box;
    display: inline-block;
    margin: 10vh 10vw;
    height: 80vh;
    padding: 8vmin;
    position: relative;
    text-align: center;

    &:before {
        border-radius: 2px;
        bottom: -2vmin;
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .25) inset;
        content: "";
        left: -2vmin;
        position: absolute;
        right: -2vmin;
        top: -2vmin;
    }

    &:after {
        border-radius: 2px;
        bottom: -2.5vmin;
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .25);
        content: "";
        left: -2.5vmin;
        position: absolute;
        right: -2.5vmin;
        top: -2.5vmin;
    }
}
